/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-color: #f8f9fa; // Using the 'body' tag selector instead of '.body' class
}

.fics-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr:hover {
    background-color: #f5f5f5;
  }
}

.table {
  margin-top: 20px; // Add some space above the table
}

.fics-table thead th {
  background-color: #e9ecef; // A light color for the header background (Bootstrap's default)
  color: #495057; // Dark color for text (Bootstrap's default)
}

// Customize buttons for a uniform look with Bootstrap
a.btn {
  margin: 0 5px; // Space out buttons a little bit
}

.btn-primary {
  color: #fff !important; // Ensures text color is white and overrides other styles
}

.card-header h1 {
  font-size: 1.5rem; // Adjust the font size for the title as needed
}

.card-body p {
  font-size: 1rem; // Set the font size for the body text
  line-height: 1.5; // Set a comfortable line-height for readability
  // Add more custom styles as required
}

#error_explanation {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0 0 10px 0;
  }
}

// Custom styles for form actions
.actions {
  margin-top: 20px;
}